language: php

php:
  - 5.5
  - 5.6
  - 7.0

before_script:
  - phpenv config-rm xdebug.ini
  - composer self-update
  - composer install --prefer-source --no-interaction
  - wget https://scrutinizer-ci.com/ocular.phar

script:
 - mkdir -p build/logs
 - phpunit --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v
 - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
