body
  padding-bottom: 40px !important

#mediabrowser
  margin-top: 20px
  .resource
    background: #f1f1f1
    cursor: pointer
    position: relative
    &.selected
      border-color: #999
    .image
      width: 100%
      height: 122px
      background-repeat: no-repeat
      background-position: center
      background-color: #c0c0c0
      background-size: contain
    .caption
      padding: 5px
    .actions
      display: none
      position: absolute
      top: 8px
      right: 8px
      width: 30px
      i
        background: #428bca
        border-radius: 4px
        color: #FFF
        font-size: 14px
        margin: 0 0 4px
        padding: 5px 0
        line-height: 20px
        height: 30px
        width: 100%
        text-align: center
    p
      font-size: 11px
      margin: 0
      text-align: right
      overflow: hidden
    img
      background: #fff
      border: 1px solid #eee
      width: 100%
      height: auto
      max-width: 122px
      max-height: 122px
    &:not(.back):hover
      .actions
        display: block

#bottom-bar
  position: fixed
  z-index: 100
  bottom: 0
  width: 100%
  height: 42px
  background-color: #f5f5f5
  p
    margin: 0
    width: 70%
    & + p
      text-align: right
      width: 30%
  button
    margin: 5px 0
  #input-folder
    display: inline-block
    margin: 0
    width: 150px
  #progress
    background-color: #f5f5f5
    height: 2px
    margin: 0
    padding: 0
  #message
    background: rgba(0, 0, 0, 0.5)
    color: #FFF
    position: absolute
    display: block
    padding: 5px 10px
    top: -27px
    right: 0
    text-align: right
    z-index: 101
    font-size: 12px

.blockUI
  h1
    font-size: 14px
    margin: 5px
